@model Provincia
@{
    ViewData["Title"] = "Home Page";
}
@{
    List<Provincia> provincias = ViewData["PROVINCIAS"] as List<Provincia>;
}
<div class="container" >
    <div style="margin:2rem;"><img src="images/svgs/undraw_authentication.svg" style="width:400px"/></div>
    <div class="container" style="width: 66%">
        <form id="contact" action="" method="post">
            <h4>RECOGER EN</h4>
            <fieldset>
                <select id="profissao" name="idprovincia">
                    @foreach(Provincia prov in provincias)
                    {
                        <option value="@prov.IdProvincia">@prov.Nombre</option>
                    }
                </select>
            </fieldset>
          
            <fieldset>
                <div class="date">
                    <div class="pa__middle-range">
                        <div class="pa__middle-item">
                            <label class="titulo">DESDE: </label>
                            <input style="border-radius: 5px;border-color: azure;" type="date" value="2024-03-18" min="2021" max="2019-01-01">
                            <span ></span>
                        </div>
                        <div class="pa__middle-item">
                            <input style="border-radius: 5px;border-color: azure;" type="time" id="tiempo" name="tiempo" step="1800">
                            <span ></span>
                        </div>
                        <div class="pa__middle-item2">
                            <svg xmlns="http://www.w3.org/2000/svg" color="#017366" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                            </svg>
                        </div>
                        <div class="pa__middle-item">
                            <label class="titulo">HASTA: </label>
                            <input style="border-radius: 5px;border-color: azure;" type="date" value="2024-03-18" min="2021" max="">
                            <span ></span>
                        </div>
                        <div class="pa__middle-item">
                            <input style="border-radius: 5px;border-color: azure;" type="time" id="tiempo" name="tiempo" step="1800">
                            <span style="color:#017366"></span>
                        </div>
                    </div>
                    <label class="titulo">TIPO DE ALQUILER</label>
                    
                    <fieldset>
                        <input type="radio" name="decision" id="yes-radio" />
                        <label for="yes-radio">Ocio</label>
                        <input type="radio" name="decision" id="no-radio" />
                        <label for="no-radio">Bussines</label>
                        <input type="radio" name="decision" id="maybe-radio" />
                        <label for="maybe-radio">Otros</label>
                    </fieldset>
                    <fieldset>
                        <input type="checkbox" id="yes" />
                        <label for="yes">Conductor mayor de 25 años</label>
                    </fieldset>

                </div>
            </fieldset>
            <fieldset style="text-align:center">
                
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">
                    <a asp-controller="Coches"
                       asp-action="Index" style="color:aliceblue; text-decoration:none">
                        BUSCAR
                    </a>
                </button>
            </fieldset>
        </form>
    </div>
</div>
