@{
    ViewData["Title"] = "Home Page";
}

<div class="container" >
    <div style="margin:2rem;"><img src="images/svgs/undraw_authentication.svg" style="width:400px"/></div>
    <div class="container" style="width: 66%">
        <form id="contact" action="" method="post">
            <h4>RECOGER EN</h4>
            <fieldset>
                <select id="profissao">
                    <option selected disable value="" type="profissao">Objetivo de carreira</option>
                    <option>R1</option>
                    <option>R3</option>
                    <option>Revalida</option>
                    <option>Títulos</option>
                </select>
            </fieldset>
          
            <fieldset>
                <div class="date">
                    <div class="pa__middle-range">
                        <div class="pa__middle-item">
                            <label class="titulo">DESDE: </label>
                            <input style="border-radius: 5px;border-color: azure;" type="date" value="2024-03-18" min="2021" max="2019-01-01">
                            <span ></span>
                        </div>
                        <div class="pa__middle-item">
                            <input style="border-radius: 5px;border-color: azure;" type="time" id="tiempo" name="tiempo" step="1800">
                            <span ></span>
                        </div>
                        <div class="pa__middle-item2">
                            <svg xmlns="http://www.w3.org/2000/svg" color="#017366" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                            </svg>
                        </div>
                        <div class="pa__middle-item">
                            <label class="titulo">HASTA: </label>
                            <input style="border-radius: 5px;border-color: azure;" type="date" value="2024-03-18" min="2021" max="">
                            <span ></span>
                        </div>
                        <div class="pa__middle-item">
                            <input style="border-radius: 5px;border-color: azure;" type="time" id="tiempo" name="tiempo" step="1800">
                            <span style="color:#017366"></span>
                        </div>
                    </div>
                    <label class="titulo">TIPO DE ALQUILER</label>
                    
                    <fieldset>
                        <input type="radio" name="decision" id="yes-radio" />
                        <label for="yes-radio">Ocio</label>
                        <input type="radio" name="decision" id="no-radio" />
                        <label for="no-radio">Bussines</label>
                        <input type="radio" name="decision" id="maybe-radio" />
                        <label for="maybe-radio">Otros</label>
                    </fieldset>
                    <fieldset>
                        <input type="checkbox" id="yes" />
                        <label for="yes">Conductor mayor de 25 años</label>
                    </fieldset>

                </div>
            </fieldset>
            <fieldset style="text-align:center">
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">BUSCAR</button>
            </fieldset>
        </form>
    </div>
</div>
<style>
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
}
main {
  width:90%;
}
.text {
  height: 60%;
  width: 60%;
  border-radius: 10px;
  background: #017366;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 40%;
  left: 5%;
  z-index: 0;
}
.text p {
  color:#fff;
  font-size: 14px;
  padding: 10% 70% 30% 5%;
  padding-right: 70%;
}
.container {
  display:flex;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
#contact input[type="text"],
#contact input[type="url"],
#contact select#profissao,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}
#contact {
  right: 10px;
  top:10px;
  background: #FFFFFF;
  padding: 25px;
  margin: 150px 0;
  border-radius: 10px;
  box-shadow: 5px 10px 30px 1px rgba(0, 0, 0, 0.15);
}
#contact h2{
  color: #FFFFFF;
  font-weight: 600;

}

#contact h4, .titulo {
  font-size: 10px;
  font-weight: 600;
  color: #184923;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="url"],
#contact select#profissao {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  border:none;
  color: #88888C;
  background-color: #F5FBF8;
}

#contact input[type="text"]:hover,
#contact input[type="url"]:hover,
#contact select#profissao:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out;
  border: 1px solid #c1c1c1;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 28%;
  text-align:center;
  border: none;
  border-radius: 15px;
  background: #017366;
  color: #FFF;
  margin: 0 0 5px;
  padding: 9px;
  font-size: 11px;
  font-weight: 600;
}

#contact button[type="submit"]:hover {
  background: #03A693;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

    .pa__middle-range {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .pa__middle-item {
        margin-right: 10px;
    }

    .pa__middle-item2{
        margin-right: 1.1rem;
        margin-left: 1.1rem
    }
   

    fieldset {
        border: 1px solid silver;
    }

    legend {
        padding: 0 20px;
        font-size: 1.25em;
    }

    label {
        position: relative;
    }

    input[type="checkbox"],
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

        input[type="checkbox"] + label::before,
        input[type="radio"] + label::before {
            content: '\a0';
            display: inline-block;
            margin: .2em .5em;
            width: .8em;
            height: .8em;
            line-height: .75em;
            transition: all .5s;
            border: 1px solid silver;
        }

        input[type="radio"] + label::before {
            border-radius: 50%;
        }

        input[type="checkbox"]:checked + label::before,
        input[type="radio"]:checked + label::before {
            content: '\a0';
            background: #017366;
            border: 1px solid white;
            box-shadow: inset 0 0 0 1px white, 0 0 0 1px #017366;
        }
</style>
