USE [master]
GO
/****** Object:  Database [transportes]    Script Date: 20/03/2024 7:38:22 ******/
CREATE DATABASE [transportes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'transportes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\transportes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'transportes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\transportes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [transportes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [transportes]
GO
/****** Object:  Table [dbo].[PUNTUACION]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUNTUACION](
	[IDPUNTUACION] [int] NOT NULL,
	[IDCOCHE] [int] NULL,
	[IDUSER] [int] NULL,
	[PUNTUACION] [int] NULL,
	[COMENTARIOS] [nvarchar](450) NULL,
 CONSTRAINT [PK_PUNTUACION] PRIMARY KEY CLUSTERED 
(
	[IDPUNTUACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELO]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELO](
	[IDMODELO] [int] NOT NULL,
	[NOMBRE] [nvarchar](700) NULL,
	[IDMARCA] [int] NULL,
 CONSTRAINT [PK__MODELO__A33B9CD655825FBB] PRIMARY KEY CLUSTERED 
(
	[IDMODELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOMOVILIDAD]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOMOVILIDAD](
	[IDTIPO] [int] NOT NULL,
	[NOMBRE] [nvarchar](450) NULL,
 CONSTRAINT [PK__TIPOMOVI__E57FEC10858ED940] PRIMARY KEY CLUSTERED 
(
	[IDTIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COCHE]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COCHE](
	[IDCOCHE] [int] NOT NULL,
	[IDMODELO] [int] NULL,
	[IDPUNTUACION] [int] NULL,
	[TIPOMOVILIDAD] [int] NULL,
	[IDFILTRO] [int] NULL,
	[IMAGEN] [nvarchar](max) NULL,
	[ESTADOCOCHE] [bit] NULL,
	[IDPROVINCIA] [int] NULL,
	[ASIENTOS] [int] NULL,
	[MALETAS] [int] NULL,
	[PUERTAS] [int] NULL,
	[PRECIO] [int] NULL,
 CONSTRAINT [PK__COCHE__CAA10FF1D232E9B0] PRIMARY KEY CLUSTERED 
(
	[IDCOCHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_COCHES_LISTA]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[V_COCHES_LISTA]
as
	select coche.idcoche, coche.imagen,
    coche.asientos, coche.maletas,
    coche.puertas, coche.precio,
    coche.estadocoche,
    modelo.nombre as model, puntuacion.puntuacion,
    coche.idprovincia, tipomovilidad.nombre as tipo_cambio
	from coche
	inner join modelo
	on  coche.idmodelo=  modelo.idmodelo
	inner join tipomovilidad
	on  coche.tipomovilidad=  tipomovilidad.idtipo
	left join puntuacion
	on coche.idpuntuacion = puntuacion.idpuntuacion
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[IDROL] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[IDROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOUSUARIO]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOUSUARIO](
	[IDESTADO] [int] NOT NULL,
	[NOMBRE] [nvarchar](250) NULL,
 CONSTRAINT [PK_ESTADOUSUARIO] PRIMARY KEY CLUSTERED 
(
	[IDESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IDUSUARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](700) NOT NULL,
	[APELLIDO] [nvarchar](700) NULL,
	[CORREO] [nvarchar](700) NULL,
	[SALT] [nvarchar](700) NULL,
	[PASS] [varbinary](max) NULL,
	[TELEFONO] [int] NULL,
	[IDROL] [int] NULL,
	[IDFACTURACION] [int] NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_all_usuarios]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[v_all_usuarios]
as
	select USUARIOS.IDUSUARIO, USUARIOS.NOMBRE, USUARIOS.APELLIDO,
    USUARIOS.CORREO, USUARIOS.TELEFONO,ROLES.NOMBRE AS ROL, ESTADOUSUARIO.NOMBRE AS ESTADO
	from USUARIOS
	inner join ESTADOUSUARIO
	on USUARIOS.ESTADO  = ESTADOUSUARIO.IDESTADO
	inner join ROLES
	on USUARIOS.IDROL = ROLES.IDROL
GO
/****** Object:  Table [dbo].[ESTADORESERVA]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADORESERVA](
	[IDESTADO] [int] NOT NULL,
	[NOMBRE] [nchar](10) NULL,
 CONSTRAINT [PK_ESTADORESERVA] PRIMARY KEY CLUSTERED 
(
	[IDESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVA]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVA](
	[IDRESERVA] [int] NOT NULL,
	[LUGAR] [nvarchar](450) NOT NULL,
	[CONDUCTOR] [nvarchar](700) NULL,
	[HORAINICIAL] [time](7) NULL,
	[FECHARECOGIDA] [datetime] NULL,
	[FECHADEVOLUCION] [datetime] NULL,
	[HORAFINAL] [time](7) NULL,
	[IDCOCHE] [int] NULL,
	[IDUSUARIO] [int] NULL,
	[IDESTADORESERVA] [int] NULL,
 CONSTRAINT [PK__RESERVA__98D53B44A60E0E75] PRIMARY KEY CLUSTERED 
(
	[IDRESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_RESERVAS_LISTA]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[V_RESERVAS_LISTA]
as
	select reserva.idreserva, reserva.lugar,
    reserva.conductor, reserva.horainicial, reserva.fecharecogida,
    reserva.fechadevolucion,
    reserva.horafinal, coche.idcoche as coche, usuarios.nombre,
    estadoreserva.nombre as reserva
	from reserva
	left join coche
	on  reserva.idcoche=  coche.idcoche
	left join usuarios
	on  reserva.idusuario=  usuarios.idusuario
	left join estadoreserva
	on reserva.idestadoreserva = estadoreserva.idestado
GO
/****** Object:  View [dbo].[v_all_reservas]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[v_all_reservas]
as
	select RESERVA.IDRESERVA, RESERVA.LUGAR, RESERVA.CONDUCTOR,
	RESERVA.HORAINICIAL, RESERVA.FECHARECOGIDA, RESERVA.FECHADEVOLUCION,
	RESERVA.HORAFINAL, USUARIOS.NOMBRE 

	from RESERVA
	inner join USUARIOS
	on RESERVA.IDUSUARIO = USUARIOS.IDUSUARIO
GO
/****** Object:  Table [dbo].[FACTURACION]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURACION](
	[IDFACTURACION] [int] NOT NULL,
	[NOMBRE] [nvarchar](450) NULL,
	[DIRECCION] [nvarchar](450) NULL,
	[CIUDAD] [nvarchar](450) NULL,
	[CODIGOPOSTAL] [int] NULL,
	[PAIS] [nvarchar](450) NULL,
 CONSTRAINT [PK_FACTURACION] PRIMARY KEY CLUSTERED 
(
	[IDFACTURACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILTROCOCHE]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILTROCOCHE](
	[IDFILTRO] [int] NOT NULL,
	[NOMBRE] [nvarchar](700) NULL,
 CONSTRAINT [PK_FILTROCOCHE] PRIMARY KEY CLUSTERED 
(
	[IDFILTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[IDMARCA] [int] NOT NULL,
	[NOMBRE] [nvarchar](700) NULL,
 CONSTRAINT [PK__MARCA__C8C2A4AAA27D35F2] PRIMARY KEY CLUSTERED 
(
	[IDMARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[IDPROVINCIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](450) NULL,
 CONSTRAINT [PK__PROVINCI__E57FEC10F8010DDF] PRIMARY KEY CLUSTERED 
(
	[IDPROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COCHE]  WITH CHECK ADD  CONSTRAINT [FK_COCHE_FILTROCOCHE] FOREIGN KEY([IDFILTRO])
REFERENCES [dbo].[FILTROCOCHE] ([IDFILTRO])
GO
ALTER TABLE [dbo].[COCHE] CHECK CONSTRAINT [FK_COCHE_FILTROCOCHE]
GO
ALTER TABLE [dbo].[COCHE]  WITH CHECK ADD  CONSTRAINT [FK_COCHE_MODELO] FOREIGN KEY([IDMODELO])
REFERENCES [dbo].[MODELO] ([IDMODELO])
GO
ALTER TABLE [dbo].[COCHE] CHECK CONSTRAINT [FK_COCHE_MODELO]
GO
ALTER TABLE [dbo].[COCHE]  WITH CHECK ADD  CONSTRAINT [FK_COCHE_PROVINCIA1] FOREIGN KEY([IDPROVINCIA])
REFERENCES [dbo].[PROVINCIA] ([IDPROVINCIA])
GO
ALTER TABLE [dbo].[COCHE] CHECK CONSTRAINT [FK_COCHE_PROVINCIA1]
GO
ALTER TABLE [dbo].[COCHE]  WITH CHECK ADD  CONSTRAINT [FK_COCHE_PUNTUACION] FOREIGN KEY([IDPUNTUACION])
REFERENCES [dbo].[PUNTUACION] ([IDPUNTUACION])
GO
ALTER TABLE [dbo].[COCHE] CHECK CONSTRAINT [FK_COCHE_PUNTUACION]
GO
ALTER TABLE [dbo].[COCHE]  WITH CHECK ADD  CONSTRAINT [FK_COCHE_TIPOMOVILIDAD1] FOREIGN KEY([TIPOMOVILIDAD])
REFERENCES [dbo].[TIPOMOVILIDAD] ([IDTIPO])
GO
ALTER TABLE [dbo].[COCHE] CHECK CONSTRAINT [FK_COCHE_TIPOMOVILIDAD1]
GO
ALTER TABLE [dbo].[MODELO]  WITH CHECK ADD  CONSTRAINT [FK_MODELO_MARCA] FOREIGN KEY([IDMARCA])
REFERENCES [dbo].[MARCA] ([IDMARCA])
GO
ALTER TABLE [dbo].[MODELO] CHECK CONSTRAINT [FK_MODELO_MARCA]
GO
ALTER TABLE [dbo].[PUNTUACION]  WITH CHECK ADD  CONSTRAINT [FK_PUNTUACION_USUARIOS] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USUARIOS] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[PUNTUACION] CHECK CONSTRAINT [FK_PUNTUACION_USUARIOS]
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD  CONSTRAINT [FK_RESERVA_COCHE] FOREIGN KEY([IDCOCHE])
REFERENCES [dbo].[COCHE] ([IDCOCHE])
GO
ALTER TABLE [dbo].[RESERVA] CHECK CONSTRAINT [FK_RESERVA_COCHE]
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD  CONSTRAINT [FK_RESERVA_ESTADORESERVA] FOREIGN KEY([IDESTADORESERVA])
REFERENCES [dbo].[ESTADORESERVA] ([IDESTADO])
GO
ALTER TABLE [dbo].[RESERVA] CHECK CONSTRAINT [FK_RESERVA_ESTADORESERVA]
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD  CONSTRAINT [FK_RESERVA_USUARIOS] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[RESERVA] CHECK CONSTRAINT [FK_RESERVA_USUARIOS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ESTADOUSUARIO] FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADOUSUARIO] ([IDESTADO])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ESTADOUSUARIO]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_FACTURACION] FOREIGN KEY([IDFACTURACION])
REFERENCES [dbo].[FACTURACION] ([IDFACTURACION])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_FACTURACION]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ROLES] FOREIGN KEY([IDROL])
REFERENCES [dbo].[ROLES] ([IDROL])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ROLES]
GO
/****** Object:  StoredProcedure [dbo].[sp_all_coches]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_all_coches]
as
	select * from v_coches_lista
GO
/****** Object:  StoredProcedure [dbo].[SP_ALL_RESERVAS]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ALL_RESERVAS]
as
	select * from v_reservas_lista
GO
/****** Object:  StoredProcedure [dbo].[sp_all_usuarios]    Script Date: 20/03/2024 7:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_all_usuarios]
as
	select * from v_all_usuarios
g
GO
USE [master]
GO
